cleanup = false

dag.overwrite = true

process {

    errorStrategy = 'retry'
    container = 'file://envs/genedict.sif'

}

env {

    out_dir = "${projectDir}/output"

}

params {

    human_selected_url = 'https://ftp.uniprot.org/pub/databases/uniprot/current_release/knowledgebase/idmapping/by_organism/HUMAN_9606_idmapping_selected.tab.gz'
    human_url = 'https://ftp.uniprot.org/pub/databases/uniprot/current_release/knowledgebase/idmapping/by_organism/HUMAN_9606_idmapping.dat.gz'
    human_reviewed_proteome_query = 'https://rest.uniprot.org/uniprotkb/stream?fields=accession&format=tsv&query=%28%28proteome%3AUP000005640%29%29+AND+%28reviewed%3Atrue%29'
    field_UniProtKB_AC = '1'
    field_UniProtKB_ID = '2'
    field_GeneID_EntrezGene = '3'
    field_RefSeq = '4'
    field_GI = '5'
    field_PDB = '6'
    field_GO = '7'
    field_UniRef100 = '8'
    field_UniRef90 = '9'
    field_UniRef50 = '10'
    field_UniParc = '11'
    field_PIR = '12'
    field_NCBI_taxon = '13'
    field_MIM = '14'
    field_UniGene = '15'
    field_PubMed = '16'
    field_EMBL = '17'
    field_EMBL_CDS = '18' 
    field_Ensembl = '19'
    field_Ensembl_TRS = '20'
    field_Ensembl_PRO = '21'
    field_Additional_PubMed = '22'
    field_ID_type = '2'
    field_ID = '3'

}